<div class="container mt-5">
  <h2>Lista de Platos</h2>

  <form [formGroup]="validateForm" style="margin-top: 24px">
    <div class="input-group mb-3">
      <input
        type="text"
        placeholder="Ingresa una palabra clave para buscar"
        formControlName="title"
        class="form-control"
      />
      <button type="button" class="btn btn-outline-primary" (click)="onSearch()">Buscar</button>
      <button type="button" class="btn btn-outline-secondary" (click)="clearSearch()">Limpiar</button>
    </div>
  </form>


  <div *ngIf="Products.length === 0" class="alert alert-warning" role="alert">
    No hay productos disponibles.
  </div>


  <div *ngIf="notificationMessage" class="alert alert-info">
    {{ notificationMessage }}
  </div>

  <div class="row">
    <div class="col-md-4" *ngFor="let product of Products">
      <div class="card mb-4">
        <img
          [src]="product.processedImg"
          class="card-img-top"
          alt="{{ product.name }}"
          style="height: 200px; object-fit: cover;"
        />
        <div class="card-body">
          <h5 class="card-title">Nombre: {{ product.name }}</h5>
          <p class="card-text">Descripción: {{ product.description }}</p>
          <p class="card-text">Categoría: {{ product.categoryName }}</p>
          <p class="card-text"><strong>Precio:</strong> ${{ product.price }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
