.navbar {
  transition: background-color 0.3s ease;
}

.navbar:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.nav-link {
  font-weight: 500;
}

.nav-link:hover {
  color: #ece4ed;
}

.nav-link.active {
  font-weight: bold;
  color: #debf41;
}
