<div class="container mt-5">
  <h2>Registro</h2>
  <form [formGroup]="validateForm" (ngSubmit)="register()">
    <div class="mb-3">
      <label for="name" class="form-label">Nombre</label>
      <input type="text" class="form-control" formControlName="name" id="name" placeholder="Ingrese su nombre">
      <div *ngIf="validateForm.get('name')?.touched && validateForm.get('name')?.hasError('required')"
           class="form-text text-danger">
        El nombre es obligatorio.
      </div>
      <div *ngIf="validateForm.get('name')?.touched && validateForm.get('name')?.hasError('minlength')"
           class="form-text text-danger">
        El nombre debe tener al menos 6 caracteres.
      </div>
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Correo Electrónico</label>
      <input type="email" class="form-control" formControlName="email" id="email"
             placeholder="Ingrese su correo electrónico">
      <div *ngIf="validateForm.get('email')?.touched && validateForm.get('email')?.hasError('required')"
           class="form-text text-danger">
        El correo electrónico es obligatorio.
      </div>
      <div *ngIf="validateForm.get('email')?.touched && validateForm.get('email')?.hasError('email')"
           class="form-text text-danger">
        Formato del correo electrónico no es válido.
      </div>
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Contraseña</label>
      <input type="password" class="form-control" formControlName="password" id="password"
             placeholder="Ingrese su contraseña">
      <div *ngIf="validateForm.get('password')?.touched && validateForm.get('password')?.hasError('required')"
           class="form-text text-danger">
        La contraseña es obligatoria.
      </div>
      <div *ngIf="validateForm.get('password')?.touched && validateForm.get('password')?.hasError('minlength')"
           class="form-text text-danger">
        La contraseña debe tener al menos 8 caracteres.
      </div>
    </div>

    <div class="mb-3">
      <label for="checkPassword" class="form-label">Confirmar Contraseña</label>
      <input type="password" class="form-control" formControlName="checkPassword" id="checkPassword"
             placeholder="Confirme su contraseña">
      <div *ngIf="validateForm.get('checkPassword')?.touched && validateForm.get('checkPassword')?.hasError('required')"
           class="form-text text-danger">
        Confirmar contraseña es obligatorio.
      </div>
      <div *ngIf="validateForm.get('checkPassword')?.touched && validateForm.get('checkPassword')?.hasError('confirm')"
           class="form-text text-danger">
        Las contraseñas no coinciden.
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Registrarse</button>
    or <a routerLink="/login"> Iniciar sesion</a>
  </form>
</div>
